<div  class="popup"></div>
<div  class="popup1"></div>
 {% if page.header %}
    <div id="header"> 
        {{ page.header }} 
    </div>
 {% endif %}

 <!--Header end-->

 {{ drupal_block('inner_carousel_block') }}
 