/* 
    Created on : Apr 26, 2016, 10:35:14 AM
    Author     : Madhuri.Sharma
*/
/*********************************************popup page block color css START*/
.Arkadium {background-color: #ed9614;}
.bcds {background-color: #dbb224;}
.bluechip {background-color: #de9e00;}
.boingo {background-color: #d43326;}
.boc {background-color: #d43326;}
.bullrun {	background-color: #212454;}
.caringcmp {	background-color: #24618c;}
.chillmobile {	background-color: #3b3854;}
.dmg {	background-color: #0d386b;}
.doordatas {	background-color: #144270;}
.gib {	background-color: #542678;}
.guardianavionics {	background-color: #ffad00;}
.hrud {	background-color: #4fa3c7;}
.instamobile {	background-color: #4fa3c7;}
.klm {	background-color: #0f75a1;}
.marathon {	background-color: #d4b500;}
.mgh {	background-color: #058ca8;}
.mcdonalds {	background-color: #a10005;}
.menudrive {	background-color: #f58026;}
.mobile_service {	background-color: #000066;}
.mylineage {	background-color: #4a3d33;}
.newport {	background-color: #143347;}
.oasystem {	background-color: #1a4270;}
.onelead {	background-color: #0fabe5;}
.opinionmeter {	background-color: #fac717;}
.ourbodycorp {	background-color: #593045;}
.pccasegear {	background-color: #d1a808;}
.rpost {	background-color: #a32121;}
.walshintegrated {	background-color: #12abe3;}
.walshintegrated {	background-color: #058c47;}
.evolver    {background-color:#705994;}
.greenmash  {background-color:#61a63b;}
.If_you_can {background-color:#d45e4a;}
.telemetro  { background-color:#f58026;}
.wideorbit  { background-color:#0078c2;}
.synchroteam {background-color:#f58026;}
.amber {background-color:#82c445;}
.magmaZines { background-color:#f77305;}
.go2Rewards { background-color:#0063a1;}
.ezy2c {background-color:#524d4a;}
.evolver { background-color:#705994;} 
.mindmeter { background-color:#7cab45;}
.spin { background-color:#d1a808;}
.tgp { background-color:#e87817;}
.mamsaver{background-color:#e0c730;}
.netcorp{	background-color: #598aad;}
.circleblk{	background-color:#23A3A3;}
.paysmard{	background-color:#962D2D;}
.samrt-salary{	background-color:#4F2684;}
.celluanlt{	background-color:#563A33;}
.fx2{	background-color:#0F447C;}
.flikkit{	background-color:#514C49;}
.editure {	background-color:#0C3370;}
.ebook{	background-color:#549EDB;}
.drs{	background-color:#447FB5;}
.my_Storage {	background-color:#569BC1;}
.mobile_Services{	background-color:#000066;}
.verifone{	background-color:#04ABF0;}
.actaris{	background-color:#030F89;}
.brightOutcomes{	background-color:#0587B7;}
.microm{background-color: #6b95c8;}
.NudgeBuddies{background-color:#d66145;}
.callProof{background-color: #0d386b;}
.illuminate{background-color: #d68f54;}
.eko{background-color:#0a2e57;}
/***********************************************popup page block color css END*/
.client-sto .fa {
    opacity: 0.5;
}